#!/usr/bin/make -f

VER=0.1.7a
PKG_NAME=samtools-hybrid${VER}
DEB_DIR=debian/${PKG_NAME}

%:
	dh $@

build:
	make all razip

override_dh_auto_install:
	mkdir -p ${DEB_DIR}/usr/lib/${PKG_NAME}/bin
	mkdir -p ${DEB_DIR}/usr/bin
	for filename in 'samtools-hybrid' 'razip'; do \
		install -m755 $${filename} ${DEB_DIR}/usr/lib/${PKG_NAME}/bin/$${filename}; \
		echo "export PATH=/usr/lib/${PKG_NAME}/bin/:\$$PATH; exec $$filename" >  ${DEB_DIR}/usr/bin/$${filename}${VER}; \
		done
	for filename in `find misc/ -executable -type f`; do \
		file=`basename $${filename}`;   \
		install -m 755 $${filename} ${DEB_DIR}/usr/lib/${PKG_NAME}/bin/$${file}; \
		echo "export PATH=/usr/lib/${PKG_NAME}/bin/:\$$PATH; exec $$file" > ${DEB_DIR}/usr/bin/$${file}${VER}; \
	done

